# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go build command
# If you name your binary specifically, add it here
my-project

# Project-local development Go environment files
.env

# Dependency directories 
# (Go manages these via go.mod, so you don't usually need the vendor folder)
vendor/

# IDE specific files
.vscode/
.idea/
*.swp
